<a href="https://colab.research.google.com/github/edwin-isa/MACHINE_LEARNING/blob/Jobsheet-2/edwin_modul02_tugas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

------------------------------------------------------------

# Machine Learning
**Jobsheet 2** -
Tugas

- Nama  : Mohamad Edwin Isa Alfais
- NIM   : 2141720193
- Kelas : TI-3D

------------------------------------------------------------

#### **Deskripsi Tugas**

**Wisconsin Breast Cancer**

Pada tugas pratikum ini Anda akan menggunakan data "Wisconsin Breast Cancer". Data tersebut terdiri dari 569 data yang digunakan untuk mendiagnonis jenis kanker Malignant (M) dan Benign (B). Tugas Anda adalah,

##### **1. Pisahkan antara variabel yang dapat digunakan dan variabel yang tidak dapat digunakan.**

In [ ]:
import pandas as pd

dpath = 'data/wbc.csv'
df = pd.read_csv(dpath)
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

kita cek terlebih dahulu info mengenai datanya dengan df.info()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

lalu kita lakukan pengecekan kepada data yang hilang / tidak ada

In [ ]:
df.isnull().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

Kita lakukan pemisahan data dengan kita memisahkan id dari

In [ ]:
df = df[['diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean']]

In [ ]:
df.head()

  diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean
0         M        17.99         10.38          122.80     1001.0
1         M        20.57         17.77          132.90     1326.0
2         M        19.69         21.25          130.00     1203.0
3         M        11.42         20.38           77.58      386.1
4         M        20.29         14.34          135.10     1297.0

##### **2. Lakukan proses encoding pada kolom "diagnosis".**

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Buat objek LabelEncoder
le = LabelEncoder()

# Lakukan encoding pada kolom "diagnosis"
df["diagnosis"] = le.fit_transform(df["diagnosis"])

In [ ]:
# Tampilkan beberapa baris awal dataset setelah encoding
df.head()

   diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean
0          1        17.99         10.38          122.80     1001.0
1          1        20.57         17.77          132.90     1326.0
2          1        19.69         21.25          130.00     1203.0
3          1        11.42         20.38           77.58      386.1
4          1        20.29         14.34          135.10     1297.0

Kita membuat diagnosis menjadi encoding M = 1 dan B = 0

##### **3. Lakukan proses standarisasi pada semua kolom yang memiliki nilai numerik.**

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Inisialisasi objek StandarScaler
std = StandardScaler()

# Standarisasi semua kolom numerik
std = StandardScaler()
df['radius_mean'] = std.fit_transform(df[['radius_mean']])
df['texture_mean'] = std.fit_transform(df[['texture_mean']])
df['perimeter_mean'] = std.fit_transform(df[['perimeter_mean']])
df['area_mean'] = std.fit_transform(df[['area_mean']])

Lalu kita check datanya apakah sudah terstandarisasi

In [ ]:
df.head()

   diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean
0          1     1.097064     -2.073335        1.269934   0.984375
1          1     1.829821     -0.353632        1.685955   1.908708
2          1     1.579888      0.456187        1.566503   1.558884
3          1    -0.768909      0.253732       -0.592687  -0.764464
4          1     1.750297     -1.151816        1.776573   1.826229

##### **4. Lakukan proses stratified split data untuk membuat data latih dan data uji dengan rasio 80:20.**

In [ ]:
# Split data
from sklearn.model_selection import train_test_split

# Split data training dan dan lainnya

# Rasio yang akan kita gunakan adalah 8:2
df_train, df_test = train_test_split(df, test_size=0.2, random_state=0, stratify=df['diagnosis'])

print(f'Jumlah label data asli:\n{df.diagnosis.value_counts()}')
print(f'Jumlah label data train:\n{df_train.diagnosis.value_counts()}')
print(f'Jumlah label data test:\n{df_test.diagnosis.value_counts()}')

Jumlah label data asli:
0    357
1    212
Name: diagnosis, dtype: int64
Jumlah label data train:
0    285
1    170
Name: diagnosis, dtype: int64
Jumlah label data test:
0    72
1    42
Name: diagnosis, dtype: int64